# Usage: pip install -r requirements.txt

# Base ----------------------------------------
PyYAML
scipy
tqdm
protobuf

# Logging -------------------------------------
tensorboard
# wandb


# Extras --------------------------------------
ipython  # interactive notebook
psutil  # system utilization
thop  # FLOPs computation
albumentations>=1.0.3
pycocotools  # COCO mAP
ultralytics
colorlog
Pyside6
PySide6-Fluent-Widgets[full]